* {
  margin: 0;
  padding: 0;
}
.background-color{
  background-color: #4C4C4C;
}

.title {
position: absolute;
width: 350px;
height: 182.55px;
left: 362px;
top: 21px;
}
  .name {
      font-family: Arial, sens-serif;
font-weight: 200;
font-size: 52px;
line-height: 35px;

color: #E7ED3E;
  }
  .about-me { 
      padding: 35px;
      position:absolute;
      background-color: #F2CDCC;
      font-size:24px;
      left:365px;
      top:70px;
  }
.contacts {
  padding: 10px;
  position: absolute;
width: 345px;
height: 115px;
top: 240px;
background-color: #FF0066;
color: white;
}
.english-level {
  width: 1466px;
  padding: 35px;
  position:absolute;
  background-color: #F2EFA0;
  font-size:24px;
  top:360px;
}
.footer {
  border-top: 2px solid white;
}